# Email address verification with AWS Organizations

After you create an organization and before you can invite accounts to join, you must
verify that you own the email address provided for the management account in the
organization.

When you create an organization, if the management account has not been previously
verified, AWS automatically sends a verification email to the specified email address.
There might be a delay before you receive the verification email.

## Verify your email address

Within 24 hours, follow the instructions in the email to verify your email address. If more than 24 hours have passed, see [Resending the verification email](about-email-verification-resend.md "about-email-verification-resend.md").
